<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha512-oc9+XSs1H243/FRN9Rw62Fn8EtxjEYWHXRvjS43YtueEewbS6ObfXcJNyohjHqVKFPoXXUxwc+q1K7Dee6vv9g==" crossorigin="anonymous" />
    <title>All Leaf, No Beef</title>
</head>
<body>
    <header>
        <h1>All Leaf, No Beef</h1>
        <nav>
            {{#if loggedIn}}
            <a href="/dashboard">Dashboard</a>
            {{else}}
            <a href="/signup">Signup</a>
            {{/if}}
        </nav>
    </header>

    {{{ body }}}
    
    <footer>
        &copy; 2020 All Leaf, No Beef
    </footer>
</body>
</html>