<form>
    <label for="email">Email Address</label>
    <input type="text" name="email" />

    <label for="password">Password</label>
    <input type="text" name="password" />
</form>

<ol>
    {{!-- {{#each posts}} --}}
    <li>
        <article>
            <div>
                <a href="/post">{{title}}</a> <br/>
                <span>{{ content }}</span>
                <br>
                <p>This post has {{vote_count}} upvotes</p>
            </div>

            <div>

            </div>
        </article>
    </li>
    {{!-- {{/each}} --}}
</ol>
