<form class="signup-form">
    <div>
        <label for="username">username:</label>
        <input type="text" id="username" />
    </div>
    <div>
        <label for="email">email:</label>
        <input type="text" id="email">
    </div>
    <div>
        <label for="phone_number">phone number:</label>
        <input type="text" id="phone_number">
    </div>
    <div>
        <label for="password">password:</label>
        <input type="password" id="password">
    </div>
    <div>
        <button type="submit">signup</button>
    </div>
</form>

<script src="/public/javascript/signup.js"></script>